
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* warna */
:root {
  --bg: radial-gradient(
    circle at top left,
    #1e3a8a,
    #020617 70%
  );

  --text-main: #e5e7eb;
  --text-muted: #94a3b8;

  --card-bg: #020617;
  --accent: #38bdf8;
}


body.dark {
  --bg: radial-gradient(
    circle at top left,
    #ebe854,
    #f8fafc 70%
  );

  --text-main: #020617;
  --text-muted: #475569;

  --card-bg: #ffffff;
  --accent: #2563eb;
}

body {
  min-height: 100vh;
  background: var(--bg);
  color: var(--text-main);
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 64px;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.1rem;
  font-weight: 600;
}

#themeToggle {
  background: transparent;
  border: 1px solid var(--accent);
  color: var(--accent);
  border-radius: 999px;
  padding: 0.4rem 0.9rem;
  cursor: pointer;
}

.container {
  flex: 1;
  max-width: 1100px;
  margin: 0 auto;
  padding: 3rem 3rem 2rem;

  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  align-items: center;
  gap: 4rem;
}

/* porfil*/
.profile h1 {
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.profile h2 {
  font-size: 1.2rem;
  color: var(--accent);
  margin-bottom: 1.5rem;
}

.profile p {
  max-width: 460px;
  font-size: 1rem;
  line-height: 1.7;
  color: var(--text-muted);
}

/* tags */
.skills {
  margin-top: 1.8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.skills span {
  background: rgba(56,189,248,0.15);
  color: var(--accent);
  padding: 0.45rem 0.9rem;
  border-radius: 999px;
  font-size: 0.85rem;
  border: 1px solid rgba(56,189,248,0.35);
}

/* PROJECT  */
.project {
  display: flex;
  justify-content: center;
}

.project-card {
  width: 100%;
  max-width: 360px;
  background: var(--card-bg);
  padding: 2.2rem;
  border-radius: 20px;
  box-shadow: 0 30px 60px rgba(0,0,0,0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 40px 80px rgba(0,0,0,0.7);
}

.project-card h3 {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
}

.project-card p {
  font-size: 0.95rem;
  line-height: 1.6;
  color: var(--text-muted);
  margin-bottom: 1.6rem;
}

.project-card button {
  background: var(--accent);
  border: none;
  color: #020617;
  font-weight: 600;
  padding: 0.6rem 1.6rem;
  border-radius: 999px;
  cursor: pointer;
}

/* = FOOTER = */
.footer {
  text-align: center;
  font-size: 0.85rem;
  color: var(--text-muted);
  padding: 1.5rem 0;
}

/* = RESPONSIVE = */
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 2.5rem 2rem;
  }

  .profile {
    text-align: center;
  }

  .profile p {
    margin: 0 auto;
  }

  .skills {
    justify-content: center;
  }
}
